<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Crawler | Home</title>
  <script src="staticdeps/jquery-2.1.4.min.js"></script>
  <script type="application/javascript" src="staticdeps/react.production.min.js"></script>
  <script type="application/javascript" src="staticdeps/react-dom.production.min.js"></script>
  <script type="application/javascript" src="staticdeps/babel.js"></script>
  <script type="text/babel" src="js/app.jsx"></script>
  <link href="staticdeps/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div id="app"></div>
</body>

</html>
