.informationicon {
    border-radius: 40px;
    border: thin solid black;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 18px;
    font-style: none !important;
}

.informationForInput {
    /* font-style: italic; */
    font-size: 12px;
    display: inline-block;
    color: #800000;
}